.accordion {
  padding: 0 !important;
}

.accordion_item {
  background-color: var(--secondary-color) !important;
}

/* CALENDAR */

.calendar_container {
  background-color: var(--secondary-color); 
  width: 100%;
  padding: 1rem; 
  border-radius: 15px;
}

.months, .month_grid {
  width: 100%;
}

.day button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.day button:focus {
  border: none;
  outline: none;
}


.today {
  color: white;
  position: relative;
}

.today::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2px;
  background-color: var(--primary-light-color)
}

.chevron {
  fill: var(--primary-light-color);
}