.data_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  width: 100%;
  min-height: fit-content;
}

.data_value {
  font-size: var(--font-3xl);
  font-weight: var(--font-black);
}

.data_title {
  font-size: var(--font-r);
  font-weight: var(--font-black);
}