.main_wrapper {
height: 70dvh;
display: flex;
flex-direction: column;
gap: 0.5rem;
justify-content: center;
align-items: center;
width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.input_wrapper {
  height: 60px;
  background-color: transparent;
  border: 2px solid var(--primary-light-color);
}

.input_value {
  color: var(--primary-light-color);
  font-size: var(--font-xl);
  font-weight: var(--font-black);
  text-transform: uppercase;
}

.button {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--primary-accent-color);
  color: var(--primary-light-color);
  font-size: var(--font-xl);
  font-weight: var(--font-black);
  font-style: italic;
  text-transform: uppercase;
  height: 60px;
}