.container {
  height: 70dvh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reset_button {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--primary-accent-color);
  color: var(--primary-light-color);
  font-size: var(--font-xl);
  font-weight: var(--font-black);
  font-style: italic;
  text-transform: uppercase;
  height: 60px;
}

.error_message {
  background-color: var(--danger-color);
  padding: 10px;
  text-align: center;
  width: 100%;
}

.ok_message {
  background-color: var(--success-color);
  padding: 10px;
  text-align: center;
  width: 100%;
}

.visible_button {
  background-color: transparent;
}
