.layout {
  position: relative;
  left: -1rem;
  top: -1rem;
  min-height: 100vh;
  width: 100vw;
  padding: 0; /* Override the parent's padding */
  margin: 0;
  background-color: var(--primary-light-color) !important;
  padding: 1rem;
  margin-bottom: -60px;
}

.article_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 600px) {
  .article_wrapper {
    padding: 0 5rem;
  }
}
