.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.signup_button {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--primary-accent-color);
  color: var(--primary-light-color);
  font-size: var(--font-xl);
  font-weight: var(--font-black);
  font-style: italic;
  text-transform: uppercase;
}

.whitelisted_button {
  border: 2px solid var(--secondary-color);
  color: var(--primary-accent-color);
  background: linear-gradient(
    to right,
    var(--primary-color) 25%,
    #1a2b5a 50%,
    var(--primary-color) 80%
  );
  background-size: 200% 100%; /* Gradient covers double the width */
  animation: pulse 5s linear infinite;
}
@keyframes pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
  20% {
    transform: scale(0.98);
  }
  24% {
    transform: scale(1);
  }
  28% {
    transform: scale(0.99);
  }
  30% {
    transform: scale(1);
  }
}

.visible_button {
  background-color: transparent;
}

.whilisted_modal_content * {
  color: var(--primary-color);
}

.whilisted_modal_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}