@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: var(--primary-light-color);
	/* transition: 0.2s; */
}

h1 {
	font-size: 20px;
	font-weight: bolder;
}

h2 {
	font-size: 18px;
	font-weight: bolder;
}

h3 {
	font-size: 16px;
	font-weight: bolder;
}

h4 {
	font-size: 14px;
	font-weight: bolder;
}

html {
	/* height: 100dvh;
	overflow: hidden; */
	background-color: var(--primary-color);
}

body,
#__next {
	min-height: 100vh;
	width: 100%;
	padding: 1rem;
	background-color: var(--primary-color);
	overflow: auto;
}

body::-webkit-scrollbar,
#__next::-webkit-scrollbar {
  display: none;
}

body > div {
	padding-bottom: 80px;
	position: relative;
}

@media all and (display-mode: standalone) {
  .body > div {
    height: 80px; /* Height when running as a PWA */
  }
}

.markdown_content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.markdown_content p, .markdown_content ul {
	margin-bottom: 1rem;
}

