:root {
  --primary-color: #02091c;
  --primary-accent-color: #2694f9;
  --secondary-color: #1c2647;
  --primary-light-color: #edf1ff;
  --success-color: #05ba8f;
  --danger-color: #ba0505;
  --bg-color-gradient: linear-gradient(
    #02091c 10%,
    #1c2647 35%,
    #132967 65%,
    #02091c 90%
  );
  --bg-primary-color-transparent: rgb(2 9 28 / 0.5);
  --bg-secondary-color-transparent: rgb(28 38 71 / 0.5);
  --border-radius: 15px;

  --font-xs: 0.625rem; /* 10px / 16 = 0.625rem */
  --font-s: 0.75rem; /* 12px / 16 = 0.75rem */
  --font-r: 0.875rem; /* 14px / 16 = 0.875rem */
  --font-l: 1rem; /* 16px / 16 = 1rem */
  --font-xl: 1.125rem; /* 18px / 16 = 1.125rem */
  --font-xxl: 1.25rem; /* 20px / 16 = 1.25rem */
  --font-3xl: 1.875rem; /* 30px / 16 = 1.875rem */

  --font-light: 100;
  --font-regular: 300;
  --font-bold: 600;
  --font-black: 900;
}
