.input_container {
  width: 100%;
}

.label_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  color: var(--primary-light-color);
  margin-bottom: 5px;
  font-weight: var(--font-black);
  font-size: var(--font-s);
  margin-left: 5px;
}

.value {
  font-size: var(--font-xl);
  color: var(--secondary-color);
  font-weight: var(--font-bold);
  font-style: italic;
}

.main_wrapper {
  width: 100%;
  min-height: 60px !important;
  padding: 10px;
  border: 2px solid var(--secondary-color);
}

.main_wrapper[data-focus="true"],
.main_wrapper[data-open="true"] {
  border: 2px solid var(--secondary-color);
}
