.nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: var(--primary-light-color);
  padding: 10px 0;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.active_link {
  color: var(--primary-accent-color) !important;
  font-weight: var(--font-bold);
}

.nav span {
  color: var(--primary-color);
}