.nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: var(--primary-light-color);
  padding: 10px 0;
  height: 60px;
  box-shadow: 0px -1px 50px var(--secondary-color);
}

@media all and (display-mode: standalone) {
  .nav {
    height: 80px; /* Height when running as a PWA */
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: var(--font-s);
}

.active_link {
  color: var(--primary-accent-color) !important;
  font-weight: var(--font-bold);
}

.nav span {
  color: var(--primary-color);
}