.skeleton {
  border-radius: 50px;
  background: linear-gradient(
    to right,
    var(--secondary-color) 25%,
    #1a2b5a 50%,
    var(--secondary-color) 80%
  );
  background-size: 200% 100%; /* Gradient covers double the width */
  animation: pulse 5s linear infinite; 
}

@keyframes pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
