.wrapper {
  background-color: var(--primary-light-color);
}

.text {
  color: var(--primary-color);
}

.title {
  font-size: var(--font-xl);
  font-weight: var(--font-black);
}

.cancel_button, .confirm_button {
  width: 100%;
  font-size: var(--font-xl);
  font-weight: var(--font-black);
  text-transform: uppercase;
  font-style: italic;
}

.cancel_button {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.confirm_button {
  background-color: var(--primary-accent-color);
  color: var(--primary-light-color);
}