.wrapper {
  background-color: var(--primary-light-color);
}

.wrapper_transparent {
  background-color: var(--bg-color-transparent);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.text {
  color: var(--primary-color);
}

.title {
  font-size: var(--font-xl);
  font-weight: var(--font-black);
}

.cancel_button, .confirm_button {
  width: 100%;
  font-size: var(--font-xl);
  font-weight: var(--font-black);
  text-transform: uppercase;
  font-style: italic;
}

.cancel_button {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.cancel_transparent_button {
  border: 2px solid var(--primary-light-color);
  color: var(--primary-light-color);
}

.confirm_button {
  background-color: var(--primary-accent-color);
  color: var(--primary-light-color);
}